In [1]:
import pandas as pd
import numpy as np

In [2]:
coltekin = pd.read_csv("coltekin.csv")
kaggle = pd.read_csv("kaggle.csv")
hatc = pd.read_csv("hatc.csv")

In [3]:
hatc

                                                    text  label
0      Ã§Ã¼nkÃ¼ bunu allah yaratmadÄ± allah 2 cinsiyet ya...      1
1                                    bun diÅŸi mi erkekmi      1
2                                     erkek ama durum bu      1
3                                                Lan top      1
4                                              Topi topp      1
...                                                  ...    ...
31285  emine.sunan12Merhabalar arkadaÅŸlar bu paylaÅŸÄ±m...      0
31286                                    iremmkrtls ğŸ‘ŒğŸ½ğŸ‘ŒğŸ½      0
31287  jila88.j@ayferserbesttÂ ay gÃ¼lmekten karnima aÄŸ...      0
31288                                               #FAA      0
31289  ntkm1234 Ã‡aÄŸlada estetik yok botoks var kadÄ±n ...      0

[31290 rows x 2 columns]

In [4]:
coltekin["label"].value_counts()[0]

28439

In [5]:
kaggle["label"].value_counts()

0    3009
1    2073
Name: label, dtype: int64

In [6]:
hatc["label"].value_counts()

0    19827
1    11463
Name: label, dtype: int64

In [10]:
coltekin = coltekin.sort_values('label').reset_index()

In [11]:
coltekin

       index                                               text  label
0      17641                      Bir bunalÄ±m sÃ¶z konusu doktor      0
1       2351  Yalnizliga oyle bir alismiski kalbim; sevmeyi ...      0
2       2350  @USER03846 Oleyyyyyyy sende bizdensin \nFakir ...      0
3       2349                @USER09092 Hain kadÄ±n beni takip et      0
4       9189  Benden yÃ¼z bulamayÄ±nca ne yapacaÄŸÄ±nÄ± ÅŸaÅŸÄ±rmÄ±ÅŸ ...      0
...      ...                                                ...    ...
35279  12003  Kurban olduÄŸum AllahÄ±m ÅŸu erkekler musically Ã§...      1
35280  12012  @USER14377 Belki de TÃ¼rkiye gÃ¼zeli olarak Ã¼lke...      1
35281  20086  @USER15414 Vay okumuÅŸ gezizekalÄ±lar link tÄ±kla...      1
35282  20102  EtrafÄ±mdaki insanlarÄ±n aklÄ±yla pek arasÄ± olmuy...      1
35283      0  @USER06095 HÄ±rsÄ±z demiÅŸken Tuncay sizin ÅŸu 1.2...      1

[35284 rows x 3 columns]

In [26]:
coltekin = pd.concat([coltekin.iloc[:2000], coltekin.iloc[33283:35283]], axis=0).reset_index()

In [27]:
coltekin=coltekin.drop("index",axis=1)

In [28]:
coltekin

                                                   text  label
0                         Bir bunalÄ±m sÃ¶z konusu doktor      0
1     Yalnizliga oyle bir alismiski kalbim; sevmeyi ...      0
2     @USER03846 Oleyyyyyyy sende bizdensin \nFakir ...      0
3                   @USER09092 Hain kadÄ±n beni takip et      0
4     Benden yÃ¼z bulamayÄ±nca ne yapacaÄŸÄ±nÄ± ÅŸaÅŸÄ±rmÄ±ÅŸ ...      0
...                                                 ...    ...
3995  @USER02631 Unuturmuyum. Yuzsuzlugun abidesi Sa...      1
3996  Kurban olduÄŸum AllahÄ±m ÅŸu erkekler musically Ã§...      1
3997  @USER14377 Belki de TÃ¼rkiye gÃ¼zeli olarak Ã¼lke...      1
3998  @USER15414 Vay okumuÅŸ gezizekalÄ±lar link tÄ±kla...      1
3999  EtrafÄ±mdaki insanlarÄ±n aklÄ±yla pek arasÄ± olmuy...      1

[4000 rows x 2 columns]

In [29]:
kaggle

                                                   text  label
0     edit: bu adam dururken baÅŸkan gene melih olurs...      0
1     ahah kuduruyoruz ya amk Ã§omarÄ± biz bu Ã¼lkeden ...      1
2     SÄ±nÄ±f gruplarÄ±ndaki insanlar beyinsiz felan he...      1
3     boÄŸaziÃ§i kÃ¶prÃ¼sÃ¼nde duran tanklar ( eÄŸer ses t...      0
4     SeviÅŸirler evlenmezler, hamile kalÄ±r doÄŸurmazl...      1
...                                                 ...    ...
5077                         yapmayan yalan soyluyordur      0
5078  Nediyonla piÃ§ kurusu bugÃ¼n pazar git ayasofya ...      1
5079  Bunu dÃ¼ÅŸÃ¼nen, destekleyen, ihaleyi aÃ§an, aÃ§tÄ±r...      1
5080  sadece 45 dakikada girdiÄŸimiz gol pozisyonu sa...      1
5081  ellerindeki en bÃ¼yÃ¼k koz genelkurmay baÅŸkan'Ä±....      1

[5082 rows x 2 columns]

In [30]:
kaggle = kaggle.sort_values('label').reset_index()
kaggle = pd.concat([kaggle.iloc[:1000], kaggle.iloc[4082:5082]], axis=0).reset_index()
kaggle=kaggle.drop("index",axis=1)

In [31]:
kaggle

      level_0                                               text  label
0           0  edit: bu adam dururken baÅŸkan gene melih olurs...      0
1           1  chp zaten kendi anket vs yapririyor bÃ¶yle duru...      0
2           2  marketlerde satÄ±lan iÅŸlenmiÅŸ sucuklarÄ±n, sosis...      0
3           3  her vize ve final zamanÄ± ÅŸiddetleri artmak sur...      0
4           4  iyi ki zamanÄ±nda yazÄ±lmÄ±ÅŸ ve Ã§ekilmiÅŸtir zira ...      0
...       ...                                                ...    ...
1995     5077  ben insanlarÄ± gÃ¶nlÃ¼mÃ¼ aldÄ±klarÄ±nda affediyorum...      1
1996     5078  bu erkekler niye bu kadar beyinsiz amk kafayÄ± ...      1
1997     5079  Ne kadar beyinsiz insanlar gÃ¶rÃ¼yorum aq bÃ¶yle ...      1
1998     5080  Taner ve Nihat 0-6 yas grubu cocuklar gibi Dic...      1
1999     5081  ellerindeki en bÃ¼yÃ¼k koz genelkurmay baÅŸkan'Ä±....      1

[2000 rows x 3 columns]

In [32]:
hatc

                                                    text  label
0      Ã§Ã¼nkÃ¼ bunu allah yaratmadÄ± allah 2 cinsiyet ya...      1
1                                    bun diÅŸi mi erkekmi      1
2                                     erkek ama durum bu      1
3                                                Lan top      1
4                                              Topi topp      1
...                                                  ...    ...
31285  emine.sunan12Merhabalar arkadaÅŸlar bu paylaÅŸÄ±m...      0
31286                                    iremmkrtls ğŸ‘ŒğŸ½ğŸ‘ŒğŸ½      0
31287  jila88.j@ayferserbesttÂ ay gÃ¼lmekten karnima aÄŸ...      0
31288                                               #FAA      0
31289  ntkm1234 Ã‡aÄŸlada estetik yok botoks var kadÄ±n ...      0

[31290 rows x 2 columns]

In [33]:
hatc = hatc.sort_values('label').reset_index()
hatc = pd.concat([hatc.iloc[:2000], hatc.iloc[29289:31289]], axis=0).reset_index()
hatc=hatc.drop("index",axis=1)

In [34]:
hatc

      level_0                                               text  label
0           0                ndmediahizmetleri5.000 TakipÃ§i 30 â‚º      0
1           1                                                  4      0
2           2  merveesenn33@xberfinuzun olaylar tek taraflÄ± d...      0
3           3  sahsinamunhasirbirzat Gereksiz Ã¶zgÃ¼ven patlama...      0
4           4                      hazal_ayasan_ayar@trkkntzz.kÂ       0
...       ...                                                ...    ...
3995    31284                                         AMK COCUGU      1
3996    31285                            Tam bir ÅŸerefsiz bunlar      1
3997    31286  Bu mili takÄ±m formasÄ±nÄ±n Ã¼stÃ¼ndeki ay yÄ±ldÄ±zÄ± ...      1
3998    31287                                      NAMUSSUZ ARDA      1
3999    31288                                         Siktir git      1

[4000 rows x 3 columns]

In [35]:
hatc=hatc.drop("level_0",axis=1)

In [36]:
hatc

                                                   text  label
0                   ndmediahizmetleri5.000 TakipÃ§i 30 â‚º      0
1                                                     4      0
2     merveesenn33@xberfinuzun olaylar tek taraflÄ± d...      0
3     sahsinamunhasirbirzat Gereksiz Ã¶zgÃ¼ven patlama...      0
4                         hazal_ayasan_ayar@trkkntzz.kÂ       0
...                                                 ...    ...
3995                                         AMK COCUGU      1
3996                            Tam bir ÅŸerefsiz bunlar      1
3997  Bu mili takÄ±m formasÄ±nÄ±n Ã¼stÃ¼ndeki ay yÄ±ldÄ±zÄ± ...      1
3998                                      NAMUSSUZ ARDA      1
3999                                         Siktir git      1

[4000 rows x 2 columns]

In [38]:
kaggle=kaggle.drop("level_0",axis=1)

In [39]:
kaggle

                                                   text  label
0     edit: bu adam dururken baÅŸkan gene melih olurs...      0
1     chp zaten kendi anket vs yapririyor bÃ¶yle duru...      0
2     marketlerde satÄ±lan iÅŸlenmiÅŸ sucuklarÄ±n, sosis...      0
3     her vize ve final zamanÄ± ÅŸiddetleri artmak sur...      0
4     iyi ki zamanÄ±nda yazÄ±lmÄ±ÅŸ ve Ã§ekilmiÅŸtir zira ...      0
...                                                 ...    ...
1995  ben insanlarÄ± gÃ¶nlÃ¼mÃ¼ aldÄ±klarÄ±nda affediyorum...      1
1996  bu erkekler niye bu kadar beyinsiz amk kafayÄ± ...      1
1997  Ne kadar beyinsiz insanlar gÃ¶rÃ¼yorum aq bÃ¶yle ...      1
1998  Taner ve Nihat 0-6 yas grubu cocuklar gibi Dic...      1
1999  ellerindeki en bÃ¼yÃ¼k koz genelkurmay baÅŸkan'Ä±....      1

[2000 rows x 2 columns]

In [40]:
coltekin

                                                   text  label
0                         Bir bunalÄ±m sÃ¶z konusu doktor      0
1     Yalnizliga oyle bir alismiski kalbim; sevmeyi ...      0
2     @USER03846 Oleyyyyyyy sende bizdensin \nFakir ...      0
3                   @USER09092 Hain kadÄ±n beni takip et      0
4     Benden yÃ¼z bulamayÄ±nca ne yapacaÄŸÄ±nÄ± ÅŸaÅŸÄ±rmÄ±ÅŸ ...      0
...                                                 ...    ...
3995  @USER02631 Unuturmuyum. Yuzsuzlugun abidesi Sa...      1
3996  Kurban olduÄŸum AllahÄ±m ÅŸu erkekler musically Ã§...      1
3997  @USER14377 Belki de TÃ¼rkiye gÃ¼zeli olarak Ã¼lke...      1
3998  @USER15414 Vay okumuÅŸ gezizekalÄ±lar link tÄ±kla...      1
3999  EtrafÄ±mdaki insanlarÄ±n aklÄ±yla pek arasÄ± olmuy...      1

[4000 rows x 2 columns]

In [41]:
hatc

                                                   text  label
0                   ndmediahizmetleri5.000 TakipÃ§i 30 â‚º      0
1                                                     4      0
2     merveesenn33@xberfinuzun olaylar tek taraflÄ± d...      0
3     sahsinamunhasirbirzat Gereksiz Ã¶zgÃ¼ven patlama...      0
4                         hazal_ayasan_ayar@trkkntzz.kÂ       0
...                                                 ...    ...
3995                                         AMK COCUGU      1
3996                            Tam bir ÅŸerefsiz bunlar      1
3997  Bu mili takÄ±m formasÄ±nÄ±n Ã¼stÃ¼ndeki ay yÄ±ldÄ±zÄ± ...      1
3998                                      NAMUSSUZ ARDA      1
3999                                         Siktir git      1

[4000 rows x 2 columns]

In [42]:
ensemble = pd.concat([hatc, kaggle, coltekin], axis=0).reset_index()

In [48]:
ensemble

                                                   text  label
0                   ndmediahizmetleri5.000 TakipÃ§i 30 â‚º      0
1                                                     4      0
2     merveesenn33@xberfinuzun olaylar tek taraflÄ± d...      0
3     sahsinamunhasirbirzat Gereksiz Ã¶zgÃ¼ven patlama...      0
4                         hazal_ayasan_ayar@trkkntzz.kÂ       0
...                                                 ...    ...
9995  @USER02631 Unuturmuyum. Yuzsuzlugun abidesi Sa...      1
9996  Kurban olduÄŸum AllahÄ±m ÅŸu erkekler musically Ã§...      1
9997  @USER14377 Belki de TÃ¼rkiye gÃ¼zeli olarak Ã¼lke...      1
9998  @USER15414 Vay okumuÅŸ gezizekalÄ±lar link tÄ±kla...      1
9999  EtrafÄ±mdaki insanlarÄ±n aklÄ±yla pek arasÄ± olmuy...      1

[10000 rows x 2 columns]

In [47]:
ensemble=ensemble.drop("index",axis=1)

In [50]:
ensemble.label.value_counts()

1    5000
0    5000
Name: label, dtype: int64

In [51]:
ensemble.to_csv("ensemble.csv")