In [1]:
import pandas as pd
import xlwings as xw
import msoffcrypto
import io

In [2]:
coltekin = pd.read_table("troff-v1.0.tsv")

In [3]:
coltekin

,id,timestamp,text,label
0,973568937593065472,1520952977415,@USER06095 HÄ±rsÄ±z demiÅŸken Tuncay sizin ÅŸu 1.2...,grp
1,973568937723035648,1520952977446,Ne bileyim sen hastayÄ±m deyince bende veterine...,ind
2,973568937911873536,1520952977491,AkÅŸam eve gittiÄŸimizde yorgunluÄŸuma iyi gelece...,grp
3,973568939925090304,1520952977971,Kookâ€™un sesini 18381 kez dinledikten sonra eÄŸe...,prof
4,973568940667539457,1520952978148,@USER05270 @USER04816 o macta adam 6 7 tane ne...,grp
...,...,...,...,...
35279,1178770821470412806,1569876918998,Great Priest elmalara pot basÄ±yor,non
35280,1178772855028436993,1569877403836,AlkollÃ¼yken yazmaya harika bir Ã§Ã¶zÃ¼m sunuyorum...,non
35281,1178774590958559234,1569877817714,@USER10875 Cvp vermek istemedim ama dayanamÄ±yo...,ind
35282,1178780674305777665,1569879268097,BazÄ± takip ettiÄŸim kiÅŸileri aha bu da hasta am...,ind
35283,1178781361089462272,1569879431839,@USER00863 allah akÄ±l fakirliÄŸi vermesin geri ...,non

In [4]:
coltekin["label"].unique()

array(['grp', 'ind', 'prof', 'non', 'oth'], dtype=object)

non-> not offensive 

prof-> profanity, or non-targeted offense

grp-> offense towards a group

indv-> offense towards an individual

oth-> offense towards an other (non-human) entity, often an event or organization

In [5]:
pip install msoffcrypto-tool

Requirement already satisfied: msoffcrypto-tool in /Users/nilakay/.local/lib/python3.8/site-packages (5.0.0)
Requirement already satisfied: cryptography>=2.3 in /Users/nilakay/opt/anaconda3/lib/python3.8/site-packages (from msoffcrypto-tool) (2.9.2)
Requirement already satisfied: olefile>=0.45 in /Users/nilakay/opt/anaconda3/lib/python3.8/site-packages (from msoffcrypto-tool) (0.46)
Requirement already satisfied: six>=1.4.1 in /Users/nilakay/opt/anaconda3/lib/python3.8/site-packages (from cryptography>=2.3->msoffcrypto-tool) (1.12.0)
Requirement already satisfied: cffi!=1.11.3,>=1.8 in /Users/nilakay/opt/anaconda3/lib/python3.8/site-packages (from cryptography>=2.3->msoffcrypto-tool) (1.14.0)
Requirement already satisfied: pycparser in /Users/nilakay/opt/anaconda3/lib/python3.8/site-packages (from cffi!=1.11.3,>=1.8->cryptography>=2.3->msoffcrypto-tool) (2.20)
Note: you may need to restart the kernel to use updated packages.

In [6]:
temp = io.BytesIO()

In [7]:
with open('HATC.xlsx', 'rb') as f:
    excel = msoffcrypto.OfficeFile(f)
    excel.load_key('HATC')
    excel.decrypt(temp)

hatc = pd.read_excel(temp)
del temp

In [8]:
hatc

                                                 message  label
0      Ã§Ã¼nkÃ¼ bunu allah yaratmadÄ± allah 2 cinsiyet ya...      2
1                                    bun diÅŸi mi erkekmi      2
2                                     erkek ama durum bu      2
3                                                Lan top      2
4                                              Topi topp      2
...                                                  ...    ...
31285  emine.sunan12Merhabalar arkadaÅŸlar bu paylaÅŸÄ±m...      0
31286                                    iremmkrtls ğŸ‘ŒğŸ½ğŸ‘ŒğŸ½      0
31287  jila88.j@ayferserbesttÂ ay gÃ¼lmekten karnima aÄŸ...      0
31288                                               #FAA      0
31289  ntkm1234 Ã‡aÄŸlada estetik yok botoks var kadÄ±n ...      0

[31290 rows x 2 columns]

In [9]:
hatc["label"].unique()

array([2, 1, 0])

0-> non off

1 -> off

2 -> homofobic

In [10]:
kaggle = pd.read_csv("turkish_tweets_2020.csv")

In [11]:
kaggle

                                                   text  label
0     edit: bu adam dururken baÅŸkan gene melih olurs...      0
1     ahah kuduruyoruz ya amk Ã§omarÄ± biz bu Ã¼lkeden ...      1
2     SÄ±nÄ±f gruplarÄ±ndaki insanlar beyinsiz felan he...      1
3     boÄŸaziÃ§i kÃ¶prÃ¼sÃ¼nde duran tanklar ( eÄŸer ses t...      0
4     SeviÅŸirler evlenmezler, hamile kalÄ±r doÄŸurmazl...      1
...                                                 ...    ...
5077                         yapmayan yalan soyluyordur      0
5078  Nediyonla piÃ§ kurusu bugÃ¼n pazar git ayasofya ...      1
5079  Bunu dÃ¼ÅŸÃ¼nen, destekleyen, ihaleyi aÃ§an, aÃ§tÄ±r...      1
5080  sadece 45 dakikada girdiÄŸimiz gol pozisyonu sa...      1
5081  ellerindeki en bÃ¼yÃ¼k koz genelkurmay baÅŸkan'Ä±....      1

[5082 rows x 2 columns]

In [12]:
kaggle["label"].unique() #0 non-off, 1 off

array([0, 1])

In [13]:
coltekin = coltekin.drop(["id","timestamp"],axis=1)

In [14]:
coltekin

                                                    text label
0      @USER06095 HÄ±rsÄ±z demiÅŸken Tuncay sizin ÅŸu 1.2...   grp
1      Ne bileyim sen hastayÄ±m deyince bende veterine...   ind
2      AkÅŸam eve gittiÄŸimizde yorgunluÄŸuma iyi gelece...   grp
3      Kookâ€™un sesini 18381 kez dinledikten sonra eÄŸe...  prof
4      @USER05270 @USER04816 o macta adam 6 7 tane ne...   grp
...                                                  ...   ...
35279                  Great Priest elmalara pot basÄ±yor   non
35280  AlkollÃ¼yken yazmaya harika bir Ã§Ã¶zÃ¼m sunuyorum...   non
35281  @USER10875 Cvp vermek istemedim ama dayanamÄ±yo...   ind
35282  BazÄ± takip ettiÄŸim kiÅŸileri aha bu da hasta am...   ind
35283  @USER00863 allah akÄ±l fakirliÄŸi vermesin geri ...   non

[35284 rows x 2 columns]

In [15]:
coltekin["label"].iloc[0]

'grp'

In [16]:
for i,x in enumerate(coltekin["label"]):
    if x == "non":
        coltekin["label"].iloc[i] = 0
    else:
        coltekin["label"].iloc[i] = 1

In [17]:
coltekin

                                                    text label
0      @USER06095 HÄ±rsÄ±z demiÅŸken Tuncay sizin ÅŸu 1.2...     1
1      Ne bileyim sen hastayÄ±m deyince bende veterine...     1
2      AkÅŸam eve gittiÄŸimizde yorgunluÄŸuma iyi gelece...     1
3      Kookâ€™un sesini 18381 kez dinledikten sonra eÄŸe...     1
4      @USER05270 @USER04816 o macta adam 6 7 tane ne...     1
...                                                  ...   ...
35279                  Great Priest elmalara pot basÄ±yor     0
35280  AlkollÃ¼yken yazmaya harika bir Ã§Ã¶zÃ¼m sunuyorum...     0
35281  @USER10875 Cvp vermek istemedim ama dayanamÄ±yo...     1
35282  BazÄ± takip ettiÄŸim kiÅŸileri aha bu da hasta am...     1
35283  @USER00863 allah akÄ±l fakirliÄŸi vermesin geri ...     0

[35284 rows x 2 columns]

In [18]:
hatc

                                                 message  label
0      Ã§Ã¼nkÃ¼ bunu allah yaratmadÄ± allah 2 cinsiyet ya...      2
1                                    bun diÅŸi mi erkekmi      2
2                                     erkek ama durum bu      2
3                                                Lan top      2
4                                              Topi topp      2
...                                                  ...    ...
31285  emine.sunan12Merhabalar arkadaÅŸlar bu paylaÅŸÄ±m...      0
31286                                    iremmkrtls ğŸ‘ŒğŸ½ğŸ‘ŒğŸ½      0
31287  jila88.j@ayferserbesttÂ ay gÃ¼lmekten karnima aÄŸ...      0
31288                                               #FAA      0
31289  ntkm1234 Ã‡aÄŸlada estetik yok botoks var kadÄ±n ...      0

[31290 rows x 2 columns]

In [19]:
for i,x in enumerate(hatc["label"]):
    if x == 2:
        hatc["label"].iloc[i] = 1

/Users/nilakay/opt/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

In [20]:
hatc

                                                 message  label
0      Ã§Ã¼nkÃ¼ bunu allah yaratmadÄ± allah 2 cinsiyet ya...      1
1                                    bun diÅŸi mi erkekmi      1
2                                     erkek ama durum bu      1
3                                                Lan top      1
4                                              Topi topp      1
...                                                  ...    ...
31285  emine.sunan12Merhabalar arkadaÅŸlar bu paylaÅŸÄ±m...      0
31286                                    iremmkrtls ğŸ‘ŒğŸ½ğŸ‘ŒğŸ½      0
31287  jila88.j@ayferserbesttÂ ay gÃ¼lmekten karnima aÄŸ...      0
31288                                               #FAA      0
31289  ntkm1234 Ã‡aÄŸlada estetik yok botoks var kadÄ±n ...      0

[31290 rows x 2 columns]

In [21]:
hatc["label"].value_counts()

0    19827
1    11463
Name: label, dtype: int64

In [22]:
coltekin["label"].value_counts()

0    28439
1     6845
Name: label, dtype: int64

In [23]:
kaggle["label"].value_counts()

0    3009
1    2073
Name: label, dtype: int64

In [24]:
coltekin.to_csv('coltekin.csv', header=True,index=False)

In [25]:
kaggle.to_csv('kaggle.csv', header=True,index=False)

In [26]:
hatc["message"] = [i.replace('\ud83d', ' ') for i in hatc["message"]]
hatc["message"] = [i.replace('\ude09', ' ') for i in hatc["message"]]
hatc["message"] = [i.replace('\udc4f', ' ') for i in hatc["message"]]
hatc["message"] = [i.replace('\udca5', ' ') for i in hatc["message"]]
hatc["message"] = [i.replace('\ud83c', ' ') for i in hatc["message"]]

In [27]:
hatc = hatc.rename(columns={"message": "text"})

In [28]:
hatc.to_csv('hatc.csv', header=True,index=False)